@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}


/* For custom scrollbars */
.custom-scrollbar-vertical::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar-vertical::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 2px;
}

.custom-scrollbar-vertical::-webkit-scrollbar-thumb {
  background: #888; /* Scroll thumb color */
  border-radius: 2px;
}

.custom-scrollbar-vertical::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover color */
}


.scrollbar-hidden {
  -ms-overflow-style: none;  /* For Internet Explorer */
  scrollbar-width: none;      /* For Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;             /* For Chrome, Safari, and newer versions of Edge */
}

<<<<<<< HEAD
=======

>>>>>>> c5d5bcbaa35b9772ad51cb45b4721b37f4f32d0a
.red-section {
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 0 100%);
  margin-right: -20px;
}

@media (max-width: 640px) {
  .red-section {
    clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 100%, 0 100%);
    margin-right: -8px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: #4b5563 !important; 
  background-color: white;
  width: 40px !important; 
  height: 40px !important;
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s ease;
  top: 50% !important;
  transform: translateY(-15%);
  display: none; 
}


.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  display: flex !important;
}


.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px !important; /* Smaller icon size */
}


.swiper-button-prev {
  left: 10px !important;
}

.swiper-button-next {
  right: 10px !important;
}


.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #f3f4f6; /* Light gray background on hover */
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2); /* Larger shadow on hover */
}


@media (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important; 
  }
}

.swiper-button-prev.swiper-button-disabled {
  display: none !important;
}
<<<<<<< HEAD

=======
/* For custom styling */
>>>>>>> c5d5bcbaa35b9772ad51cb45b4721b37f4f32d0a
.box-shadow {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}
