@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scrollbar-vertical::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar-vertical::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 2px;
}

.custom-scrollbar-vertical::-webkit-scrollbar-thumb {
  background: #888; /* Scroll thumb color */
  border-radius: 2px;
}

.custom-scrollbar-vertical::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover color */
}


.scrollbar-hidden {
  -ms-overflow-style: none;  /* For Internet Explorer */
  scrollbar-width: none;      /* For Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;             /* For Chrome, Safari, and newer versions of Edge */
}
